<ion-view view-title="라이나 생명" class="positive">
  <div class="tabs-striped tabs-top tabs-background-light tabs-color-positive">
    <div class="tabs tabs-icon-left">
      <a class="tab-item active" href="#/app/catalog">
        <!--<i class="icon ion-person"></i>-->
        보험상품
      </a>
      <a class="tab-item" href="#/app/cyberwindow">
        <!--<i class="icon ion-star"></i>-->
        사이버창구
      </a>
      <a class="tab-item" ui-sref="search" href="#/app/healthcare">
        <!--<i class="icon ion-search"></i>-->
        헬스케어
      </a>
    </div>
  </div>
  <ion-content class="has-tabs-top">
    <!--ion-list>
      <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
        {{playlist.title}}
      </ion-item>
    </ion-list-->

    <div class="list list-inset">
    	<form>
		  <label class="item item-input">
		    <input id="m" type="text" placeholder="Example">
		  </label>
		   <button class="button button-full button-positive">계산하기</button>
	    </form>
	</div>
	<div>
		<ul id="msgs"></ul>
	</div>
  </ion-content>
</ion-view>
