<ion-view view-title="라이나 생명">
  <ion-content>
    <!--ion-list>
      <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
        {{playlist.title}}
      </ion-item>
    </ion-list-->
    <div class="list list-inset">
    	<form>
		  <label class="item item-input">
		    <input id="m" type="text" placeholder="Example">
		  </label>
		   <button class="button button-full button-positive">계산하기</button>
	    </form>
	</div>
	<div>
		<ul id="msgs"></ul>
	</div>
  </ion-content>
</ion-view>
