<ion-view view-title="STEP.1 간단 보험료 계산">
  <ion-content class="has-tabs-top">

    <div class="list list-inset">
      <h4>생년월일만으로 보험료 계산해 보세요.</h4>
      <form ng-submit="submit()" ng-controller="PlusCancerCtrl">
        <div class="list">
        <label class="item item-input">
          <span class="input-label">생년월일</span>
          <input id="birth" type="date" ng-model="data.birth" placeholder="주민번호 앞자리">
        </label>
        </div>
        <div class="list">
          <span class="col">성별</span>
          <div class="list col">
            <ion-radio ng-model="data.gender" ng-value="'male'" name="gender">남자</ion-radio>
            <ion-radio ng-model="data.gender" ng-value="'female'" name="gender">여자</ion-radio>
          </div>
        </div>
        <div class="list">
           <span class="col">상품유형</span>
            <div class="list col">
              <ion-radio ng-model="data.renewalType" ng-value="'renewal'" name="renewalType">갱신형</ion-radio>
              <ion-radio ng-model="data.renewalType" ng-value="'nonRenewal'" name="renewalType">비갱신형  </ion-radio>
            </div>
        </div>
        <div class="list">
            <label class="item item-input item-select">
              <span class="input-label">보험기간</span>
              <select ng-model="data.insuranceTerm" ng-change="getSizeNames(item.insuranceTerm)">
                <option value=''>Select</option>
                 <option value='20'>20년만기</option>
                  <option value='80'>80세만기</option>
              </select>
            </label>
            <label class="item item-input item-select">
              <div class="input-label">납입기간</div>
              <select ng-model="data.payTerm" ng-change="getSizeNames(item.payTerm)">
                <option value=''>Select</option>
                 <option value='20'>20년납</option>
                  <option value='80'>80세납</option>
              </select>
            </label>
        </div>
        <button class="button button-full button-orange" ng-click="submit(data)" ui-sref="plus-cancer-step2">내 보험료 알아보기</button>
      </form>
    </div>

  </ion-content>
</ion-view>
