<ion-view view-title="STEP.5 청약문서 확인 및 보험료 납부">
  <!--<ion-content class="has-tabs-top">-->
    <ion-content>
    <form ng-controller="PlusCancerStep5Ctrl">
    <div class="card">
      <div class="item item-divider">
        <b>보험료 납입 </b>
      </div>
      <div class="item item-text-wrap">
        <div class="row">
          <div class="col col-60 col-center">
            납입방법 선택
          </div>
          <div class="list col">
            <ion-radio class="text-center" ng-model="confirm.pay" ng-value="'automatic'" name="driveCheck">자동이체</ion-radio>
            <ion-radio class="text-center" ng-model="confirm.pay" ng-value="'creditCard'" name="driveCheck">신용카드</ion-radio>
          </div>
        </div>
      </div>
      <div class="item item-text-wrap" ng-show="confirm.pay=='automatic'" >
        <div class="list">
          <label class="item item-input">
            <div class="input-label">예금주</div>
            <!--<select ng-model="notice.bank" ng-change="getSizeNames(item.payTerm)">-->
            <input type="text" ng-model="confirm.bank.depositor"/>
          </label>
        </div>
        <div class="list">
          <label class="item">
          <div class="col col-60 col-center">
            납입계좌 선택
          </div>
          <div class="col">
            <!--<div class="row">은행명</div>-->
            <label class="item item-input item-select">
              <div class="input-label">은행명</div>
              <!--<select ng-model="notice.bank" ng-change="getSizeNames(item.payTerm)">-->
              <select ng-model="confirm.bank.name">
                <option value=''>선택하세요</option>
                <option value='국민은행'>국민은행</option>
                <option value='우리은행'>우리은행</option>
              </select>
            </label>
            <label class="item item-input">
              <div class="input-label">계좌번호</div>
              <input type="number" ng-model="confirm.bank.account" placeholder="(-)없이 입력하세요"/>
            </label>

          </div>

          </label>
          <button class="button button-full button-calm" ng-click="authenticate(confirm.bank)">인증하기</button>
        </div>
        <div class="list">
          <label class="item item-input item-select">
            <div class="input-label">2회 이후 보험료 납부 희망일</div>
            <select name="payDate" ng-model="confirm.payDate">
              <option value="">선택하세요</option>
              <option value="5">5일</option>
              <option value="10">10일</option>
              <option value="15">15일</option>
            </select>
          </label>
        </div>
      </div>

      <div class="item item-text-wrap" ng-show="confirm.pay == 'creditCard'">
        <div class="list">
          <label class="item item-input">
            <div class="input-label">카드명의</div>
            <input type="text" class="text" ng-model="confirm.cardOwner"/>
          </label>
        </div>

        <div class="list">
          <label  class="item item-input item-select">
            <div class="input-label">
              카드사
            </div>
            <select name="cardCompany" ng-model="confirm.card.company">
              <option value="">카드사 선택</option>
              <option value="비씨">BC</option>
              <option value="신한">신한</option>
            </select>

          </label>
          <label class="item item-input">
            <div class="input-label">카드번호</div>
            <input type="number" ng-model="confirm.card.num1" maxlength="4"/>
            - <input type="number" ng-model="confirm.card.num2" maxlength="4"/>
            - <input type="number" ng-model="confirm.card.num3" maxlength="4"/>
            - <input type="number" ng-model="confirm.card.num4" maxlength="4"/>
          </label>

        </div>
      </div>
    </div>
      <!-- 청약문서 확인 -->
      <div class="card">
        <div class="item item-divider">
          청약문서 확인
        </div>
        <div class="item item-text-wrap">
          <ion-checkbox ng-model="confirm.read.detail" ng-checked="checked">상품 상세 내용을 읽었으며 내용을 확인하였습니까?</ion-checkbox>
          <ion-checkbox ng-model="confirm.read.compare" ng-checked="checked">비교안내문을 읽었으며 내용을 확인하였습니까?</ion-checkbox>
        </div>
      </div>
      <button class="button button-full button-orange" ng-click="submit(confirm)">확인 및 마지막 단계 진행</button>
    </form>
  </ion-content>
</ion-view>
