<ion-view view-title="STEP.2 월 보험료 선택 " ng-controller="PlusCancerStep2Ctrl" >
<ion-content class="" >
  <div class="list list-inset" ng-repeat="product in productLists">
    <div class="list card" >
      <ion-radio ng-model="selectPrice" ng-value="product.cost" ng-change="selected(product)">
        <div class="item item-price">
         <h5>월 보험료</h5>{{product.cost}}
        </div>
        <div class="item item-price-detail">
          <div class="col">
            <div class="row">
              암 진단 보험금 (0.5 구좌)
            </div>
            <div class="row">
              <div class="col">
                고액암
              </div>
              <div class="col">
                {{product.largeCancer}}
              </div>
            </div>
            <div class="row">
              <div class="col">
                소액암
              </div>
              <div class="col">
                {{product.smallCancer}}
              </div>
            </div>
            <div class="row">
              <div class="col">
                일반암
              </div>
              <div class="col">
                {{product.normalCancer}}
              </div>
            </div>
          </div>
        </div>
        <a class="item item-icon-left assertive" href="#">
          보장내역 상세보기
        </a>
      </ion-radio>
    </div>
    <!--div class="list card">
      <ion-radio ng-model="selectPrice" ng-value="'13,625'">
        <div class="item item-price">
         <h5>월 보험료</h5>12,625
        </div>
        <div class="item item-price-detail">
          <div class="col">
            <div class="row">
              암 진단 보험금 (0.5 구좌)
            </div>
            <div class="row">
              고액암
            </div>
          </div>
        </div>
        <a class="item item-icon-left assertive" href="#">
          보장내역 상세보기
        </a>
      </ion-radio>
    </div>
     <div class="list card">
      <ion-radio ng-model="selectPrice" ng-value="'43,225'">
        <div class="item item-price">
         <h5>월 보험료</h5>43,2259
        </div>
        <div class="item item-price-detail">
          <div class="col">
            <div class="row">
              암 진단 보험금 (0.5 구좌)
            </div>
            <div class="row">
              고액암
            </div>
          </div>
        </div>
        <a class="item item-icon-left assertive" href="#">
          보장내역 상세보기
        </a>
      </ion-radio>
    </div-->
    </div>
      <button class="button button-full button-orange" ng-click="submit()">월 보험료 선택하기</button>
  <!--<button class="button button-full button-orange" ng-click="modal.show()">월 보험료 선택하기</button>-->

  </form>
</ion-content>
</ion-view>
