<ion-view view-title="STEP.2 월 보험료 선택 " ng-controller="PlusCancerStep2Ctrl" >
<ion-content class="" >
  <div class="list list-inset" >
    <div class="list card" ng-repeat = "result in results">
      <ion-radio ng-model="selectPrice" ng-value="result.cost" ng-change="selected(result)">
        <div class="item item-price"><h1>{{test.hi}}</h1>
         <h5>월 보험료</h5>{{result.cost}}
        </div>
        <div class="item item-price-detail">
          <div class="col">
            <div class="row">
              암 진단 보험금 (0.5 구좌)
            </div>
            <div class="row">
              <div class="col">
                고액암
              </div>
              <div class="col">
                {{result.largeCancer}}
              </div>
            </div>
            <div class="row">
              <div class="col">
                소액암
              </div>
              <div class="col">
                {{result.smallCancer}}
              </div>
            </div>
            <div class="row">
              <div class="col">
                일반암
              </div>
              <div class="col">
                {{result.normalCancer}}
              </div>
            </div>
          </div>
        </div>
        <a class="item item-icon-left assertive" href="#">
          보장내역 상세보기
        </a>
      </ion-radio>
    </div>
    </div>
      <button class="button button-full button-orange" ng-click="submit()">월 보험료 선택하기</button>
  </form>
</ion-content>
</ion-view>
