<ion-view view-title="STEP.3">
  <ion-content class="has-tabs-top">
    <div class="list list-inset">
      <!--<form ng-submit="submit()" ng-controller="PlusCancerCtrl">-->
      <form  ng-controller="PlusCancerStep3Ctrl">
      <div class="list">
          <label class="item item-input">
            <span class="input-label">성명</span>
            <input id="name" type="text" ng-model="info.name">
          </label>
          <div class="item item-input" id="id-number">
            <span class="input-label">주민번호</span>
            <div class="row">
              <div class="col-25">
                <input id="id1" type="tel" ng-model="info.id1" maxlength="6">
              </div>
              <span class="form-mid col-center">-</span>
              <div class="col-30 row-center">
                <input type="password" ng-model="info.id2"  maxlength="7">
              </div>
            </div>
          </div>

          <!--<label class="item item-input">-->
            <!-- <span class="input-label">주민번호</span> -->
          <!-- <input type="password" ng-model="info.id2" maxlength="7"> -->
            <!-- <span class="form-mid">-</span> -->
          <!--</label>-->
         <!--  <label class="item item-input">
            <span class="input-label">Password</span>
            <input type="password">
          </label> -->
        </div>
        <div class="list">
          <label class="item item-input">
            <span class="input-label">휴대폰</span>
            <input type="tel" name="phone" ng-model="info.phone" title="휴대폰 번호" id="phone" maxlength="11"/>
          </label>
        </div>

        <div class="list">
          <span class="col">운전여부</span>
          <div class="list col">
            <ion-radio ng-model="info.driveCheck" ng-value="'Y'" name="driveCheck">운전</ion-radio>
            <ion-radio ng-model="info.driveCheck" ng-value="'N'" name="driveCheck">미운전  </ion-radio>
          </div>
        </div>

        <div class="list">
          <span class="col">계약의 체결 및 이행 등을 위한 동의 (필수사항)</span>
          <div class="list col">
            <ion-radio ng-model="info.dataAgree" ng-value="'Y'" name="dataAgree">예</ion-radio>
            <ion-radio ng-model="info.dataAgree" ng-value="'N'" name="dataAgree">아니오</ion-radio>
          </div>
          <span class="col">상품소개 등 고객서비스를 위한 동의 (선택사항)</span>
          <div class="list col">
            <ion-radio ng-model="info.consignmentAgree" ng-value="'Y'" name="consignmentAgree">예</ion-radio>
            <ion-radio ng-model="info.consignmentAgree" ng-value="'N'" name="consignmentAgree">아니요</ion-radio>
          </div>
        </div>
        <!--   <button type="submit" class="button button-full button-positive" ui-sref="pluscancer-step1">내 보험료 알아보기</button> -->
        <!--<button class="button button-full button-orange" ng-click="submit(info)" ui-sref="plus-cancer-step4">공인인증서 로그인 및 다음 단계 진행</button>-->
        <button class="button button-full button-orange" ng-click="submit(info)" >공인인증서 로그인 및 다음 단계 진행</button>

      </form>
    </div>

  </ion-content>
</ion-view>
