<ion-view title="Catalog">
<ion-content>
<div class="card">
  <a class="item icon " href="#/plus-cancer">
    (무)플러스암보험(갱신형)
  </a>
</div>
<div class="card">
  <a href="#/teeth" class="item">
    (무)THE건강한 치아보험
  </a>
</div>
<div class="card">
  <a href="#" class="item item-icon-right">
    (무)OK실버보험
  </a>
</div>
<div class="card">
  <a class="item icon " href="#/nosmoking">
    (무)e-금연OK정기보험(갱신형)
  </a>
</div>
<a href="//android-debug.apk">click</a>
    <!--ion-list>
    <ion-toggle  ng-model="settings.enableFriends">
        Enable Friends
    </ion-toggle>
    </ion-list-->

  </ion-content>
  <!--ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Recent Updates</div>
      <div class="item item-body">
        <div>
          There is a fire in <b>sector 3</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Health</div>
      <div class="item item-body">
        <div>
          You ate an apple today!
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body">
        <div>
          You have <b>29</b> meetings on your calendar tomorrow.
        </div>
      </div>
    </div>
  </ion-content-->
</ion-view>
