<ion-view title='<b class="catalog-title">라이나 생명</b>'> 
<ion-content class="catalog">
<div class="card">
  <!--<a class="item icon " href="#/plus-cancer-step1">-->
  <a class="item item-text-wrap icon  " ui-sref="plus-cancer-step1">
    <!-- <img src="img/plus-cancer.jpg" alt=""> -->
    <div class="product-title">(무)플러스암보험(갱신형)</div>
    <h4><span class="product-subtitle">80세까지 가입</span>해서 최대 100세까지 보장받는 암보험</h4>
  </a>
</div>
<div class="card">
  <a href="#/teeth " class="item item-text-wrap">
    <div class="product-title">(무)THE건강한 치아보험</div>
    <h4><span class="product-subtitle">하루에 2,100명씩 가입한 </span>라이나 치아보험으로 든든하게 보장!</h4>
  </a>
</div>
<div class="card">
  <a href="#" class="item item-icon-right item-text-wrap">
    <div class="product-title">(무)OK실버보험</div>
    <h4>55세~83세라면 누구나! <span class="product-subtitle">무심사, 무진단</span>으로 가입가능합니다!</h4>
  </a>
</div>
<div class="card">
  <a class="item icon item-text-wrap" href="#/nosmoking">
    <div class="product-title">(무)e-금연OK정기보험(갱신형)</div>
    <h4><span class="product-subtitle">비흡연자</span>를 위한 인터넷전용 정기보험!</h4>
  </a>
</div>
    <!--ion-list>
    <ion-toggle  ng-model="settings.enableFriends">
        Enable Friends
    </ion-toggle>
    </ion-list-->

  </ion-content>
  <!--ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Recent Updates</div>
      <div class="item item-body">
        <div>
          There is a fire in <b>sector 3</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Health</div>
      <div class="item item-body">
        <div>
          You ate an apple today!
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body">
        <div>
          You have <b>29</b> meetings on your calendar tomorrow.
        </div>
      </div>
    </div>
  </ion-content-->
</ion-view>
